<ion-header class="primary-font">
  <ion-navbar>
    <ion-title>{{ meetup.name }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="primary-font">
  <div id="map" #map></div>
  <div class="detail-padding">
    <!-- <h2>At {{meetup.venue?.name}}, {{meetup.venue?.address_1}}</h2> -->
    <h2 *ngIf="meetup.venue">At {{meetup.venue?.name}}, {{meetup.venue?.address_1}}</h2>
    <h2 *ngIf="!meetup.venue">Undisclosed</h2>
    <small class="wrap-bag"> On {{meetup.time | date}} </small>
    <div [innerHTML]="meetup.description"></div>
    <h5>Organized by {{ meetup.group?.name }}</h5>
    <h3>Hosts:</h3>
    <ion-card class="mt-hosts" *ngFor="let host of hosts">
      <ion-item (click)="seeMemberDetails(host)">
        <ion-avatar item-left>
          <img [src]="host.photo?.thumb_link" onerror="this.src='../assets/icon/app-icon.png'">
        </ion-avatar>
        <h2>{{ host.name }} - {{ host.group_profile?.role }}</h2>
        <p>{{ host.bio }}</p>
      </ion-item>
    </ion-card>

    <div *ngIf="comments.length > 0">
      <h4>Comments</h4>
      <ion-card *ngFor="let comment of comments">
        <ion-card-header>
          <ion-item>
            <ion-avatar item-left>
              <img [src]="comment.member?.photo?.thumb_link" onerror="this.src='../assets/icon/app-icon.png'">
            </ion-avatar>
            <h2>{{ comment.member?.name }}</h2>
          </ion-item>
        </ion-card-header>
        <ion-card-content>
          <p>at {{ comment.created | date : 'shortTime' }}</p>
          <p>{{ comment.comment }}</p>
        </ion-card-content>
        <ion-card *ngFor="let reply of comment.replies">
          <ion-card-header>
            <ion-item>
              <ion-avatar item-left>
                <img [src]="reply.member?.photo?.thumb_link" onerror="this.src='../assets/icon/app-icon.png'">
              </ion-avatar>
              <h2>{{ reply.member?.name }} - {{ reply.member?.role }}</h2>
            </ion-item>
          </ion-card-header>
          <ion-card-content>
            <p>at {{ reply.created | date : 'shortTime' }}</p>
            <p>{{ reply.comment }}</p>
          </ion-card-content>
        </ion-card>
      </ion-card>
    </div>
  </div>
</ion-content>
