page-home {
  h3, .segment-button {
    color: white !important;
  }

  .selected-topics {
    overflow: auto;
    display: flex;
  }

  .slide-zoom {
    height: 100%;
    color: white;
  }

  hr {
    background-color: white !important;
  }

  .semi-transparent {
    color : transparentize(white, 0.5) !important;
  }

  // @extend .primary-font;
  ion-content .fixed-content {
    background-color: #1e222d;
  }
  .word-wrap {
    word-wrap: break-word;
    // overflow-x: hidden;
    // text-overflow: ellipsis;
    white-space:normal;
  }
  .segment-button.segment-activated{
    border-color: #ffffff !important;
    opacity: .7;
  }
  .mt-header {
    background: transparentize(black, 0.5);
    margin: 0;
    color: white;
  }
  .customTitle {
    padding: 35px 30px 25px 30px;
  }
  ion-card {
    &.card-md, &.card-ios {

      border-radius: 5px;
      margin:30px;
      width: calc(100% - 60px);
      box-shadow: none;
      background: #404654;
      .card-header{
        &.card-header-md, &.card-header-ios {
          h1,h2,h3,h4,h5,h6 {
            color: white;
          }
        }
      }
    }

    ion-card-content {
      &.card-content-md, &.card-content-ios {
        h1,h2,h3,h4,h5,h6, p {
          color: white;
        }
      }
    }
  }

  .fab{
    background-color: rgba(0, 0, 0, 0.5);
  }
}

ion-tabs > div.tabbar.show-tabbar {
  background: darken(#404654, 10%);
  a.tab-button[aria-selected=true] .tab-button-icon {
    color: white;
  }
  a.tab-button, a.tab-button ion-icon {
    color : white;
  }
}
