<ion-header>
  <ion-searchbar #searchbar placeholder="Search city or address" [hidden]="!search"></ion-searchbar>
</ion-header>
<ion-content class="primary-font">
  <div class="mt-header">
    <div class="customTitle">
      <h1 *ngIf="view == 'meetups'">Upcoming Meetups</h1>
      <h1 *ngIf="view == 'groups'">Meetup Groups</h1>
      <h6 no-margin class="semi-transparent">{{ meetupCount }} Near
        <span *ngIf="!location">you</span>
        <span *ngIf="location">{{location}}</span>
      </h6>
    </div>
    <ion-segment [(ngModel)]="view">
      <ion-segment-button value="meetups" ion-text color="white" (ionSelect)="loadEvents()">
        Meetups
      </ion-segment-button>
      <ion-segment-button value="groups" (ionSelect)="loadGroups()">
        Groups
      </ion-segment-button>
    </ion-segment>
  </div>
  <div padding class="selected-topics">
    <ion-chip *ngFor="let topic of selectedTopics">
      <ion-label>{{ topic }}</ion-label>
      <button ion-button clear (click)="deleteTopic(topic)">
        <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-chip>
  </div>
  <ion-slides padding spaceBetween="10" slidesPerView="3" style="height: 20vh">
		<ion-slide *ngFor="let topic of topics" style="border-radius: 5px"
        [ngStyle]="{'background': 'linear-gradient(283deg, #CFD4DE, '+topic.color+')'}"
        (click)="addTopic(topic.name)">
      <hr margin>
      <span class="white">{{ topic.name }}</span>
    </ion-slide>
  </ion-slides>
  <div *ngIf="events.length <= 0" style="width: 100%; text-align: center">
    <h3>There are currently no events.</h3>
  </div>
  <div *ngIf="view == 'meetups'">
    <ion-card *ngFor="let event of events" (click)="goToDetail(event)">
      <ion-card-header>
        <h2 class="word-wrap secondary-font" [innerHTML]="event.name"></h2>
      </ion-card-header>
      <ion-card-content>
        <small class="semi-transparent">on {{event.time | date}}</small>
        <h6 class="secondary-font">At
          <span *ngIf="!event.venue?.name">Undisclosed</span>
          <span *ngIf="event.venue?.name">{{event.venue?.name}}</span>
          <span *ngIf="!event.venue?.address_1"></span>
          <span *ngIf="event.venue?.address_1"> , {{event.venue?.address_1}}</span>
        </h6>
      </ion-card-content>
    </ion-card>
  </div>
  <div *ngIf="view == 'groups'">
    <ion-card *ngFor="let group of groups">
      <ion-card-header>
        <img style="width:20vw" [src]="group.group_photo?.thumb_link" onerror="this.style.display='none'">
        <h2 class="word-wrap" [innerHTML]="group.name"></h2>
      </ion-card-header>
      <ion-card-content>
        <h6>Located at
          <span>{{ group.city }}</span>
          <span> , {{ group.localized_country_name }}</span>
        </h6>
        <p>Members: {{ group.members }}</p>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-fab right bottom (click)="toggleSearch()">
    <button ion-fab class="pop-in">
      <ion-icon name="search"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
