// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import "../theme/app.fonts";

ion-loading .loading-wrapper {
    background: transparent !important;
    box-shadow: none !important;
}

.text-input-clear-icon {
    background-color: transparent;
}

// Google maps autocomplete item
.pac-item {
    height: 5rem;
    display: flex;
    align-items: center;
}

ion-chip {
    margin: 5px !important;
    border: 1px solid rgba(56, 245, 239, 0.74);;
    color: white !important;
    font-weight: bold !important;
    .button {
        color: rgba(56, 245, 239, 0.74);
    }
}

// POP-IN (FLOAT ACTION BUTTON EFFECT) -------------
.pop-in {
  animation: pop-in 0.65s;
}

@keyframes pop-in {
  0% {
    transform: scale(0);
  }
  45% {
    transform: scale(0);
  }
  90% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

// POP-OUT (FLOAT ACTION BUTTON EFFECT) -------------
.pop-out {
  animation: pop-out 2.5s forwards;
}

@keyframes pop-out {
  0% {
    transform: scale(1);
  }
  15% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}