<ion-header>
  <ion-navbar>
    <ion-title>{{ group.name }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="primary-font" padding>
  <h2>{{ group.name }}</h2>
  <p>{{ group.city }} - {{ group.localized_country_name }}</p>
  <small class="wrap-bag"> Created on {{ group.created | date }} </small>
  <div [innerHTML]="group.description"></div>

  <h3>Category: {{ group.category?.name }}</h3>

  <h3>Organizer:</h3>
  <ion-item (click)="seeMemberDetails(organizer)">
    <ion-avatar item-left>
      <img [src]="group.organizer.photo?.thumb_link" onerror="this.src='../assets/icon/app-icon.png'">
    </ion-avatar>
    <h2>{{ group.organizer.name }}</h2>
  </ion-item>

  <div id="meetups-section" *ngIf="meetups">
    <h3>Upcoming meetups:</h3>
    <ion-slides padding spaceBetween="2" slidesPerView="2" style="height: 30vh">
      <ion-slide *ngFor="let meetup of meetups" style="border-radius: 5px">
        <ion-card (click)="goToMeetup(meetup)">
          <ion-card-header>
            <h2 class="word-wrap secondary-font" [innerHTML]="meetup.name"></h2>
          </ion-card-header>
          <ion-card-content>
            <small class="semi-transparent">on {{meetup.time | date}}</small>
            <h6 class="secondary-font">At
              <span *ngIf="!meetup.venue?.name">Undisclosed</span>
              <span *ngIf="meetup.venue?.name">{{meetup.venue?.name}}</span>
              <span *ngIf="!meetup.venue?.address_1"></span>
              <span *ngIf="meetup.venue?.address_1"> , {{meetup.venue?.address_1}}</span>
            </h6>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>

  <h3>Members: {{ group.members }}</h3>
  <ion-card class="mt-hosts" *ngFor="let member of members">
    <ion-item (click)="seeMemberDetails(member)">
      <ion-avatar item-left>
        <img [src]="member.photo?.thumb_link" onerror="this.src='../assets/icon/app-icon.png'">
      </ion-avatar>
      <h2>{{ member.name }}</h2>
    </ion-item>
  </ion-card>

</ion-content>
